{{template "header"}}
<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <h4> Oops, Something went Wrong!! </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Mistakes happen, We are human!!
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/" id="register">Go to Login</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/home" id="register">Go to Home</a>
        </div>
    </div>
</div>
{{template "footer"}}