{{template "header"}}
<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <h4> Forbidden </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Oh, Looks likes you are trying access something you dont have access to!!
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/" id="register">Go to Login </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/home" id="register">Go to Home</a>
        </div>
    </div>
</div>
{{template "footer"}}