{{template "header"}}
<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <h4> Enter/Update Profile Information </h4>
        </div>
    </div>
    <form method="POST" action="/api/forgot-password" id="forgot-password">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                   aria-describedby="emailHelp" value="{{ .Email }}" {{if .IsExternalProvider}} disabled {{end}}>
            <small id="emailHelp" class="form-text text-muted">Your Email Address</small>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="btn btn-primary">Send Reset Link</button>
        </div>
        <div class="form-group">
            <a href="/" >Back to Login</a>
        </div>
    </form>
</div>
<script>
    const form = document.querySelector('#forgot-password');
    const email = document.querySelector('#email');
    const emailHelp = document.querySelector('#emailHelp');
    const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;


    form.addEventListener('submit', function (e) {
        if (validateEmail()) {
            return;
        }
        e.preventDefault();
    });

    function validateEmail() {
        if (email.value && emailRegex.test(String(email.value).toLowerCase()))
            return true;
        emailHelp.textContent = "Email should be valid";
        emailHelp.className = "text-danger";
    }

</script>
{{template "footer"}}