{{template "header"}}
<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <h4> Home - Main Profile </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b> User Details </b>
        </div>
    </div>

    <div class="row">
        <div class="col">Name :</div>
        <div class="col-9">{{.FullName}}</div>
    </div>
    <div class="row">
        <div class="col">Email :</div>
        <div class="col-9">{{.Email}}</div>
    </div>
    <div class="row">
        <div class="col">Address :</div>
        <div class="col-9">{{.Address}}</div>
    </div>
    <div class="row">
        <div class="col">Phone :</div>
        <div class="col-9">{{.Phone}}</div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/update" type="button" class="btn btn-primary">Edit</a>
            <a href="/" type="button" class="btn btn-secondary">Logout</a>
        </div>
    </div>

</div>
{{template "footer"}}