{{template "header"}}
<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <h4> Login </h4>
        </div>
    </div>
    <form method="POST" action="/api/login" id="login">
        <div class="form-group align-self-center">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Registered Email Address</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                   aria-describedby="passHelp">
            <small id="passHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ .GoogleAuthURL }}" class="btn btn-primary">Sign in with Google</a>
        </div>
        <div class="form-group"><a href="/register" id="register">New User Sign-Up</a></div>
        <div class="form-group"><a href="/forgot-password" id="forgot-password">Forgot Password</a></div>
    </form>
</div>
<script>
    const form = document.querySelector('#login');
    const email = document.querySelector('#email');
    const emailHelp = document.querySelector('#emailHelp');
    const password = document.querySelector('#password');
    const passHelp = document.querySelector('#passHelp');
    const btnSubmit = document.querySelector('#submit');

    const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;


    form.addEventListener('submit', function (e) {
        if (validateEmail() && validatePassword()) {
            return;
        }
        e.preventDefault();
    });

    function validateEmail() {
        if (email.value && emailRegex.test(String(email.value).toLowerCase()))
            return true;
        emailHelp.textContent = "Email should be valid";
        emailHelp.className = "text-danger";
    }

    function validatePassword() {
        if (password.value && String(password.value).length < 1)
            return true;
        phoneHelp.textContent = "Enter a Password";
        phoneHelp.className = "text-danger";
    }
</script>
{{template "footer"}}