{{template "header"}}
<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <h4> Enter/Update Profile Information </h4>
        </div>
    </div>
    <form method="POST" action="/api/reset-password" id="reset-password">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                   aria-describedby="passHelp">
            <small id="passHelp" class="form-text text-muted"></small>
        </div>
        <input type="hidden"  id="token" name="token" value="{{ .ResetToken }}"/>
        <div class="form-group">
            <button id="submit" type="submit" class="btn btn-primary">Reset</button>
        </div>
        <div class="form-group">
            <a href="/">Cancel</a>
        </div>
    </form>
</div>
<script>
    const form = document.querySelector('#reset-password');
    const password = document.querySelector('#password');
    const passHelp = document.querySelector('#passHelp');


    form.addEventListener('submit', function (e) {
        if (validatePassword()) {
            return;
        }
        e.preventDefault();
    });

    function validatePassword() {
        if (password.value && String(password.value).length < 8)
            return true;
        phoneHelp.textContent = "Password should be at least 8 characters";
        phoneHelp.className = "text-danger";
    }

</script>
{{template "footer"}}