{{template "header"}}
<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <h4> Enter/Update Profile Information </h4>
        </div>
    </div>
    <form method="POST" action="/api/update" id="update-user">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Full Name"
                   value="{{ .FullName }}">
            <small id="nameHelp" class="form-text text-muted">Display Name</small>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                   aria-describedby="emailHelp" value="{{ .Email }}" {{if .IsExternalProvider}} disabled {{end}}>
            <small id="emailHelp" class="form-text text-muted">Valid Email address</small>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" id="address" name="address" rows="3">{{ .Address }}</textarea>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-control" type="tel" id="phone" name="phone" aria-describedby="phoneHelp"
                   placeholder="Contact Number" value="{{ .Phone }}">
            <small id="phoneHelp" class="form-text text-muted">Contact Number</small>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="btn btn-primary">Save & Continue</button>
        </div>
        <div class="form-group">
            <a href="/home" type="button" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>
<script>
    const form = document.querySelector('#update-user');
    const name = document.querySelector('#name');
    const nameHelp = document.querySelector('#nameHelp');
    const email = document.querySelector('#email');
    const emailHelp = document.querySelector('#emailHelp');
    const address = document.querySelector('#address');
    const phone = document.querySelector('#phone');
    const phoneHelp = document.querySelector('#phoneHelp');
    const btnSubmit = document.querySelector('#submit');

    const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    const phoneRegex = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;


    form.addEventListener('submit', function (e) {
        if (validateName() && validateEmail() && validatePhone()) {
            return;
        }
        e.preventDefault();
    });

    function validateName() {
        if (name.value)
            return true;
        nameHelp.textContent = "Name cannot be empty";
        nameHelp.className = "text-danger";
    }

    function validateEmail() {
        if (email.value && emailRegex.test(String(email.value).toLowerCase()))
            return true;
        emailHelp.textContent = "Email should be valid";
        emailHelp.className = "text-danger";
    }

    function validatePhone() {
        if (!phone.value || phoneRegex.test(String(phone.value ? phone.value : "")))
            return true;
        phoneHelp.textContent = "Phone number should be valid";
        phoneHelp.className = "text-danger";
    }
</script>
{{template "footer"}}